{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  Sign Up
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="min-h-screen bg-my-black-300 text-white">
    <div class="min-h-screen h-full w-full grid grid-cols-1 md:grid-cols-2">
      <!-- The image -->
      <div class="col-start-1 row-start-1 ">
        <img 
          class="max-h-screen object-cover h-full w-full"
          src="{% static 'imgs/ufoGuys.webp' %}">
      </div>

      <!-- The form -->
      <form 
        class="h-full w-full flex justify-center items-center"
        action="/users/sign-up/" 
        method="post"
      >
        {% csrf_token %}


        <div class="px-5 py-10 w-full max-w-xl flex flex-col gap-5">
          <div class="w-full">
            <h1 class="text-3xl">Sign Up To Stay Updated</h1>
            <p class="text-gray-400 mt-3">Be notified of our interesting, wacky, and fun blogs.</p>
          </div>

          <!-- Fields --> 
          <div class="w-full mt-5 flex flex-col gap-5">

            <!-- First name -->
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-3 gap-y-5">
              <div class="flex flex-col gap-2">
                {{ form.first_name.label_tag }}
                <div 
                  class="flex bg-zinc-950 border border-zinc-700 rounded-md focus-within:border-mono-neon-purple/70 focus-within:shadow-[0_0_5px_theme(colors.mono-neon-purple)]">
                  {% render_field form.first_name class='rounded-l-md w-full bg-transparent py-3 px-2 outline-none [&:-webkit-autofill]:shadow-[inset_0_0_0_1000px_theme(colors.zinc.950)] [&:-webkit-autofill]:[-webkit-text-fill-color:white] [&::selection]:[-webkit-text-fill-color:white] active:[-webkit-text-fill-color:white]' autocomplete='true' required='true'%}
                  <div class="w-[40px] flex justify-center items-center text-gray-400">
                    <i class="fa-regular fa-user fa-lg"></i>
                  </div>
                </div>

                {% if form.first_name.errors|first %}
                <div class="text-red-400 flex items-center gap-x-3">
                  <div class="flex justify-center items-center">
                    <i class="fa-solid fa-triangle-exclamation fa-md"></i>
                  </div>
                  {{ form.first_name.errors|first }}
                </div>
                {% endif %}
              </div>

              <!-- Last name -->
              <div class="flex flex-col gap-2">
                {{ form.last_name.label_tag }}
                <div 
                  class="flex bg-zinc-950 border border-zinc-700 rounded-md focus-within:border-mono-neon-purple/70 focus-within:shadow-[0_0_5px_theme(colors.mono-neon-purple)]">
                  {% render_field form.last_name class='rounded-l-md w-full bg-transparent py-3 px-2 outline-none [&:-webkit-autofill]:shadow-[inset_0_0_0_1000px_theme(colors.zinc.950)] [&:-webkit-autofill]:[-webkit-text-fill-color:white] [&::selection]:[-webkit-text-fill-color:white] active:[-webkit-text-fill-color:white]' autocomplete='true' required='true'%}
                  <div class="w-[40px] flex justify-center items-center text-gray-400">
                    <i class="fa-regular fa-user fa-lg"></i>
                  </div>
                </div>

                {% if form.last_name.errors|first %}
                <div class="text-red-400 flex items-center gap-x-3">
                  <div class="flex justify-center items-center">
                    <i class="fa-solid fa-triangle-exclamation fa-md"></i>
                  </div>
                  {{ form.last_name.errors|first }}
                </div>
                {% endif %}
              </div>
            </div>

            <!-- Email -->
            <div class="flex flex-col gap-2">
              {{ form.email.label_tag }}
              <div 
                class="flex bg-zinc-950 border border-zinc-700 rounded-md focus-within:border-mono-neon-purple/70 focus-within:shadow-[0_0_5px_theme(colors.mono-neon-purple)]"
              >
                {% render_field form.email class='w-full bg-transparent py-3 px-2 outline-none [&:-webkit-autofill]:shadow-[inset_0_0_0_1000px_theme(colors.zinc.950)] [&:-webkit-autofill]:[-webkit-text-fill-color:white] [&::selection]:[-webkit-text-fill-color:white] active:[-webkit-text-fill-color:white]' autocomplete='true' required='true'%}
                <div class="w-[40px] flex justify-center items-center text-gray-400">
                  <i class="fa-regular fa-envelope fa-lg"></i>
                </div>
              </div>

            {% if form.email.errors|first %}
            <div class="text-red-400 flex items-center gap-x-3">
              <div class="flex justify-center items-center">
                <i class="fa-solid fa-triangle-exclamation fa-md"></i>
              </div>
              {{ form.email.errors|first }}
            </div>
            {% endif %}

            </div>

            <!-- Password -->
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-3 gap-y-5">
              <div class="flex flex-col gap-2">
                {{ form.password1.label_tag }}
                <div 
                class="flex bg-zinc-950 border border-zinc-700 rounded-md focus-within:border-mono-neon-purple/70 focus-within:shadow-[0_0_5px_theme(colors.mono-neon-purple)]"
                >
                {% render_field form.password1 class='rounded-l-md w-full bg-transparent py-3 px-2 outline-none [&:-webkit-autofill]:shadow-[inset_0_0_0_1000px_theme(colors.zinc.950)] [&:-webkit-autofill]:[-webkit-text-fill-color:white] [&::selection]:[-webkit-text-fill-color:white] active:[-webkit-text-fill-color:white]' autocomplete='true' required='true'%}
                <div class="w-[40px] flex justify-center items-center text-gray-400">
                    <i class="fa-solid fa-lock fa-lg"></i>
                  </div>
                </div>

                {% if form.password1.errors|first %}
                <div class="text-red-400 flex items-center gap-x-2">
                  <div class="flex justify-center items-center">
                    <i class="fa-solid fa-triangle-exclamation fa-md"></i>
                  </div>
                  {{ form.password1.errors|first }}
                </div>
                {% endif %}
              </div>

              <!-- Confirm -->
              <div class="flex flex-col gap-2">
                {{ form.password2.label_tag }}
                <div 
                  class="flex bg-zinc-950 border border-zinc-700 rounded-md focus-within:border-mono-neon-purple/70 focus-within:shadow-[0_0_5px_theme(colors.mono-neon-purple)]">
                  {% render_field form.password2 class='w-full bg-transparent py-3 px-2 outline-none [&:-webkit-autofill]:shadow-[inset_0_0_0_1000px_theme(colors.zinc.950)] [&:-webkit-autofill]:[-webkit-text-fill-color:white] [&::selection]:[-webkit-text-fill-color:white] active:[-webkit-text-fill-color:white]' autocomplete='true' required='true'%}
                </div>

                {% if form.password2.errors|first %}
                <div class="text-red-400 flex items-center gap-x-3">
                  <div class="flex justify-center items-center">
                    <i class="fa-solid fa-triangle-exclamation fa-md"></i>
                  </div>
                  {{ form.password2.errors|first }}
                </div>
                {% endif %}
              </div>
            </div>

            <div class="mt-7 flex flex-col gap-5 text-center">
              <button 
                class="rounded-md bg-mono-neon-purple py-3 flex items-center justify-center"
                type="submit"
              >
                <span>Sign Up</span>
                <div class="w-[40px] flex justify-center items-center">
                  <i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i>
                </div>
              </button>
          
              <p>Already have an account? <a href="/users/sign-in" class="text-neon-purple"> Sign in.</a></p>
                
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}

{% block footer %}
{% endblock %}