{% load static %}

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <!-- TailwindCSS -->
  <link href="{% static 'css/output.css' %}" rel="stylesheet">
  <script src="{% static 'js/menu.js' %}"></script>

  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/42a5858d3a.js" crossorigin="anonymous"></script>
  {% block link %}
  {% endblock %}

    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>
<body>

    <!-- Header -->
    <header class="sticky top-0 left-0 z-30 w-full bg-my-black-300 overflow-hidden">

      <div class="py-[10px] text-my-white">
        <div class="w-full max-w-7xl mx-auto">

          <nav class="w-full px-5">

            <!-- Desktop mode -->
            <div class="hidden md:flex w-full justify-between items-center">
              <!-- Left side -->
              <div class="flex gap-x-5 items-center">
                <!-- Logo -->
                <a href="/home">
                  <div>
                    <img src="{% static 'imgs/ufo.svg' %}" width="40" height="40">
                  </div>
                </a>
                
                <!-- Links -->
                <ul class="flex gap-x-5 items-center">
                  <li>
                    <a class="p-2 w-10 h-4 bg-mono-neon-purple/30 rounded-md hover:bg-mono-neon-purple/50" href="/blogs">
                        Blogs
                    </a>
                  </li>
                  <li>
                    <a class="p-2 w-10 h-4 text-gray-300 rounded-md bg-transparent hover:bg-white/5" href="/home">
                        Home
                    </a>
                  </li>
                  <li>
                    <a class="p-2 w-10 h-4 text-gray-300 rounded-md bg-transparent hover:bg-white/5" href="/about-us">
                        About Us
                    </a>
                  </li>
                </ul>
              </div>

              <!-- Right Side -->
              <div class="flex gap-x-5 items-center">

                <!-- Create blog post admin only -->
                <a href="/blogs/post">
                  <div class="flex gap-x-3 px-3 py-2 bg-mono-neon-purple/60 rounded-md hover:bg-mono-neon-purple/50">
                    <div class="flex justify-center items-center text-white"><i class="fa-solid fa-plus fa-md"></i></div>
                    <span class="font-semibold">Create Blog</span>
                  </div>
                </a>

                <!-- A Notification bell dropdown menuthat will notify about recent blog posts-->
                <button>
                  <div class="flex justify-center items-center">
                    <i class="text-gray-400 fa-regular fa-bell fa-xl hover:brightness-125"></i>
                  </div>
                </button>

                <!-- Profile picture -->
                <div class="w-[35px] h-[35px]">
                  <img class="w-full h-full object-cover rounded-full" src="{% static 'imgs/placeholder.jpg' %}">
                </div>  

                <!-- Search Button -->
                <button>
                  <span class="flex justify-center items-center">
                    <i class="text-gray-400 fa-solid fa-magnifying-glass fa-lg hover:brightness-125"></i>
                  </span>
                </button>
                
              </div>
            </div>

            <!-- Mobile mode -->
            <div class="flex flex-col gap-7 md:hidden w-full h-full">
      
              <!-- Non hamburger menu mode -->
              <div class="w-full flex justify-between items-center">

                <!-- Left side -->
                <div class="flex gap-x-5 items-center">

                  <!-- Hamburger button -->
                  <button class="w-7 h-7" id="hamburgerMenuBtn" onclick="showHamburgerMenu()">
                    <span class="flex items-center justify-center">
                      <i class="fa-solid fa-bars fa-lg"></i>
                    </span>
                  </button>
                  <a href="/home">
                    <div>
                      <img src="{% static 'imgs/ufo.svg' %}" width="40" height="40">
                    </div>
                  </a>
                </div>

                <!-- Right Side -->
                <div class="flex gap-x-5 items-center">

                  <a href="/blogs/post">
                    <div class="flex gap-x-3 px-3 py-2 bg-mono-neon-purple/70 rounded-md hover:bg-mono-neon-purple/50">
                      <div class="flex justify-center items-center text-white"><i class="fa-solid fa-plus fa-md"></i></div>
                      <span class="font-semibold">Create Blog</span>
                    </div>
                  </a>

                  <!-- Profile picture -->
                  <div class="w-[35px] h-[35px]">
                    <img class="w-full h-full object-cover rounded-full" src="{% static 'imgs/placeholder.jpg' %}">
                  </div>
                </div>
              </div>

              <!-- Hamburger Menu Mode -->
              <div id="hamburgerMenuDiv" class="h-[calc(100vh-(theme(spacing.header)+30px))] hidden overflow-hidden w-full bg-my-black-300">

                <!-- Search -->
                <div class="w-full mb-10 flex">

                  <input 
                    class="w-full h-14 px-4 bg-zinc-900 placeholder-zinc-500 text-white outline-none border border-transparent focus:border-blue-500 rounded-l-md"
                    placeholder="Search blog"
                  >

                  <button class="w-20 h-14 flex justify-center items-center bg-emerald-500 hover:bg-emerald-600 rounded-r-md">
                    <i class="text-white fa-solid fa-magnifying-glass fa-lg"></i>
                  </button>

                </div>

                <ul class="w-full flex flex-col gap-y-3">
                  <li>
                    <a href="#" class="w-full">
                      <div class="text-lg w-full p-3 text-mono-neon-purple bg-dark-neon-purple/20 hover:bg-dark-neon-purple/30 rounded-md">
                        Blogs
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="w-full">
                      <div class="text-lg text-gray-300 p-3 rounded-md bg-transparent hover:bg-white/5">
                        Home
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="w-full">
                      <div class="text-lg text-gray-300 p-3 rounded-md bg-transparent hover:bg-white/5">
                        About Us
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <!-- Main content -->
    <main class="min-h-[calc(100vh-theme(spacing.header))] pb-[80px] bg-my-black-300">
      {% block content %}
      {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="w-full bg-my-black-300">

      <!-- Subscribe to blog -->
      <!-- 1. The container is a grid. It controls the background and overflow. -->
      <div class="w-full grid items-center bg-mono-neon-purple/70 py-24 overflow-hidden">
        
          <div class="w-full h-full relative max-w-7xl">
            <img class="absolute -bottom-[200px] left-16 invert brightness-0 opacity-50" src="{% static 'imgs/ufo2.png'%}">
          </div>

          <div class="relative z-10 col-start-1 row-start-1 text-center p-5">

            <div class="max-w-xl w-full mx-auto">
              <h2 class="text-4xl text-my-white">Stay Updated On Our Blogs</h2>
              <form class="mt-12 grid grid-cols-[1fr_auto]">
                <div class="col-start-1">
                  <input 
                    placeholder="example@gmail.com"
                    class="rounded-l-md bg-zinc-900 py-5 px-3 w-full focus:outline-none border-2 border-transparent focus:border-emerald-600 text-my-light-gray" 
                    type="email">
                </div>

                <div class="col-start-2">
                  <button class="text-lg w-full h-full bg-emerald-500 py-3 px-4 text-white font-semibold rounded-r-md">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
      </div>

      <div class="pt-[50px] pb-[15px] bg-zinc-900 w-full">
        <div class="flex flex-col gap-y-10">
          <!-- Logo -->
          <div>
            <a href="/home">
              <div class="flex gap-x-3 items-center justify-center">
                <div>
                  <img src="{% static 'imgs/ufo.svg' %}" width="60" height="60">
                </div>
                <div class="font-semibold text-xl font-roboto-mono text-white">Outsider Blogs</div>
              </div>
            </a>
          </div>

          <!-- Nav links -->
          <nav>
            <ul class="flex gap-x-16 gap-y-10 text-gray-300 justify-center items-center">
              <li><a href="/contact">Home</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/about">About Us</a></li>
            </ul>
          </nav>
          
          <!-- Socials -->
          <div class="flex flex-col gap-y-5 px-5">
            <p class="font-semibold text-center text-white text-lg">Stay in touch</p>
            <ul class="text-green-500 gap-x-5 flex justify-center items-center">
              <li>
              <a href="#" class="text-blue-300 w-10 h-10 rounded-full bg-my-black-300 px-6 py-6 flex items-center justify-center transition-transform ease-in-out duration-100 hover:-translate-y-1">
                <i class="fa-brands fa-facebook-f fa-xl"></i>
              </a>
              </li>
              <li>
                <a href="#" class="text-rose-400 w-10 h-10 rounded-full bg-my-black-300 px-6 py-6 flex items-center justify-center transition-transform ease-in-out duration-100 hover:-translate-y-1">
                  <i class="fa-brands fa-instagram fa-xl"></i>
                </a>
              </li>
              <li>
                <a href="#" class="text-red-500 w-10 h-10 rounded-full bg-my-black-300 px-6 py-6 flex items-center justify-center transition-transform ease-in-out duration-100 hover:-translate-y-1">
                  <i class="fa-brands fa-youtube fa-xl"></i>
                </a>
              </li>
              <li>
                <a href="#" class="text-sky-500 w-10 h-10 rounded-full bg-my-black-300 px-6 py-6 flex items-center justify-center transition-transform ease-in-out duration-100 hover:-translate-y-1">
                  <i class="fa-brands fa-twitter fa-xl"></i>
                </a>
              </li>
            </ul>
          </div>

          <!-- Copyright -->
          <div class="text-center">
            <p class="text-sm text-gray-400">Copyright© 2025 Outsider Blogs</p>
          </div>

        </div>

      </div>
      

    </footer>
</body>



      <!-- <div class="z-20 flex flex-col items-center py-[40px] px-5 gap-y-[30px]">
         Identity 
        <div class="flex flex-col items-center gap-y-[1rem]">
          <img src="{% static 'imgs/alien.png' %}" width="45" height="40">
          <p class="text-[20px] font-roboto-mono font-bold flex gap-x-[1rem]">
            <span class="text-my-white">Dango</span><span class="text-my-black-100">Dev</span>
          </p>
        </div>

         Nav 
        <div class="flex justify-center items-center gap-6 flex-wrap">

           Socials 
          <a href="#" class="w-10 h-10 border-2 border-white rounded-full flex items-center justify-center text-white transition-color ease-in-out duration-200 hover:bg-my-white hover:text-black">
            <i class="fa-brands fa-facebook-f fa-xl"></i>
          </a>
          <a href="#" class="w-10 h-10 border-2 border-white rounded-full flex items-center justify-center text-white transition-color ease-in-out duration-200 hover:bg-my-white hover:text-black">
            <i class="fa-brands fa-instagram fa-xl"></i>
          </a>
          <a href="#" class="w-10 h-10 border-2 border-white rounded-full flex items-center justify-center text-white transition-color ease-in-out duration-200 hover:bg-my-white hover:text-black">
            <i class="fa-brands fa-youtube fa-xl"></i>
          </a>
          <a href="#" class="w-10 h-10 border-2 border-white rounded-full flex items-center justify-center text-white transition-color ease-in-out duration-200 hover:bg-my-white hover:text-black">
            <i class="fa-brands fa-twitter fa-xl"></i>
          </a>

        </div>
      </div>
      <div class="bg-zinc-900 w-full px-5 py-[5px]">
        <p class="text-gray-300 text-[0.8rem]">Copyright ©2025 <a class="text-neon-purple" href="https://github.com/CodingDango" target="_blank">DangoDev</a></p>
      </div> -->