{% extends 'base.html' %}
{% load static %}

{% block title %}
  Blog List - Alien Blog
{% endblock %}

{% block content %}
  <div class="w-full flex flex-col items-center gap-y-10"> 
    <!-- Featured Blog -->
    <div class="grid w-full max-w-7xl min-h-[500px] max-h-[600px] grid-cols-1 grid-rows-1">
      <!-- Big boi picture -->
      <div class="col-start-1 row-start-1 grid">
        <img 
          src="{% static 'imgs/cat.jpg' %}" 
          class="col-start-1 row-start-1 w-full min-h-[500px] max-h-[600px] object-cover rounded-b-md"
        >
        <div 
          class="col-start-1 row-start-1 w-full h-full bg-black/30"
        ></div>
      </div>

      <div class="col-start-1 row-start-1 w-full h-full flex items-end px-5 py-10">
        <div class="flex justify-between items-center w-full ">
          <div class="max-w-sm">
            <h2 class="text-4xl text-white">Exploring The Wonders Of Cute Alien Cats</h2>
            <p class="text-gray-300 mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit ad omnis cum quod quidem sunt aperiam asperiores minima. Nobis, nesciunt.</p>
          </div>
          <div class="flex flex-col gap-y-2 justify-end">
            <div class="flex gap-x-3 items-center">
              <img 
                src="{% static 'imgs/placeholder.jpg' %}"
                class="w-[40px] h-[40px] rounded-full object-cover"  
              >
              <p class="text-white text-lg">Dango Dono</p>
            </div>
            <p class="ml-auto text-gray-300 flex gap-x-3 items-center">
              <span>30 Jan 2024</span>
              <span class="text-xl">•</span>
              <span>10 mins read</span>
            </p>
          </div>
        </div>
      </div>

    </div>

    <!-- Blog List --> 
    <div class="max-w-7xl px-5 w-full">
      
      <!-- Blog header -->
      <div>
        <h2 class="text-4xl text-white">Blog</h2>
        <p class="text-gray-400 mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium ullam sint debitis sequi.</p>
      </div>

      <!-- Blog controls -->
      <div class="mt-6 w-full flex justify-between items-center text-white">
        <div class="flex gap-x-5">
          <button class="py-2 px-5 bg-white text-black rounded-md">All</button>
          <button class="py-2 px-5 hover:bg-white/10 rounded-md">Theories</button>
          <button class="py-2 px-5 hover:bg-white/10 rounded-md">Discoveries</button>
          <button class="py-2 px-5 hover:bg-white/10 rounded-md">Interviews</button>  
        </div>
        <div class="gap-x-5 flex items-center">
          <p class="text-gray-400">Sort by:</p>
          <button class="py-2 px-5 border border-white/20 rounded-md">Newest</button>
        </div>
      </div>

      <!-- Blog Grid -->
      <div class="mt-8 grid grid-cols-3 w-full gap-x-5 gap-y-8">

        <!-- Blog card -->
        <article class="grid grid-rows-2 ">
          <div class="col-start-1 row-start-1">
            <img src="{% static 'imgs/placeholder.jpg' %}" class="object-cover min-h-[300px] max-h-[300px] w-full rounded-md">
          </div>

          <div class="col-start-1 row-start-2 flex flex-col gap-y-3 pt-2">
            <!-- Date of creation -->
            <p class="text-gray-400 flex gap-x-3 items-center">
              <span>30 Jan 2024</span>
              <span class="text-xl">•</span>
              <span>10 mins read</span>
            </p>

            <!-- Blog content -->
            <div class="flex flex-col gap-y-2">
              <h3 
                class="text-3xl text-white"
              >Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
              
              <!-- Blog description -->
              <p class="text-gray-300">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, facilis?</p>
            </div>

            <!-- Author --> 
            <div class="mt-2 flex gap-x-3 items-center">
              <img 
                src="{% static 'imgs/cat.jpg' %}"
                class="w-[40px] h-[40px] object-cover rounded-full">
              <p class="text-white">Dango Dev</p>
            </div>

          </div>
        </article>
      </div>


      
    </div>

  </div>
{% endblock %}