{% extends 'base.html' %}

{% load static %}


{% block link %}
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="{% static 'js/post.js' %}"></script>
{% endblock %}

{% block title %}
  Post Blog - Alien Blog
{% endblock %}

{% block content %}
  <div class="bg-my-black-300 flex flex-col justify-center items-center p-0 md:py-10">

    <div class="max-w-4xl w-full flex flex-col gap-y-10 py-10">

      <div class="w-full">
        <h1 class="text-white text-3xl sm:text-4xl font-roboto">Create Blog</h1>
        <div class="h-1 w-20 bg-neon-purple mt-2 rounded-full"></div>
      </div>

      <form id="post-form" class="w-full flex flex-col gap-y-10" method="POST" action="/blogs/post/" novalidate>
        {% csrf_token %}
        
        <div class="w-full h-full bg-zinc-800 flex flex-col gap-y-7 p-7 rounded-md">

          <h2 class="text-my-white text-2xl font-medium">General Information</h2>

          <div class="flex flex-col gap-y-5">
            <!-- Title -->
            <div class="flex flex-col gap-y-2">
              <div class="flex justify-between items-baseline">
                <div class="flex gap-x-2">
                  <label for="post-title" class="font-medium text-lg text-white">Title</label>
                  <span class="font-bold text-xl text-neon-purple">*</span>
                </div>
                <p class="text-gray-400 text-sm">Max <span class="font-semibold text-[18px]">{{ pageData.formData.post_title.maxLen }}</span> characters</p>
              </div>
              <input 
                type="text" 
                id="post-title" 
                name="title" 
                class="placeholder-zinc-500 resize-none w-full bg-zinc-900 text-white rounded-md p-3 border border-transparent focus:border-my-lime focus:outline-none"
                placeholder="An awesome and catchy title"
                maxlength={{ pageData.formData.post_title.maxLen }} 
                rows="3"
                required
              ></input>
              <p id="post-title-error-text-tag" class="text-red-400"></p>
            </div>

            <!-- Short description for bloglist -->
            <div class="flex flex-col gap-y-2">
              <div class="flex justify-between items-baseline">
                <div class="flex gap-x-2">
                  <label for="post-description" class="font-semibold text-lg text-white">Short Description</label>
                  <span class="font-bold text-xl text-neon-purple">*</span>
                </div>
                <p class="text-gray-400 text-sm">Max <span class="font-semibold text-[18px]">{{ pageData.formData.post_description.maxLen }}</span> characters</p>
              </div>
              <textarea 
                style="resize: none;"
                id="post-description"
                name="description" 
                class="placeholder-zinc-500 w-full bg-zinc-900 text-white rounded-md p-3 border border-transparent focus:border-my-lime focus:outline-none resize-y"
                placeholder="A short and compelling summary for the blog list page." 
                rows="3"
                maxlength={{ pageData.formData.post_description.maxLen }}
                required
              ></textarea>
              <p id="post-description-error-text-tag" class="text-red-400 border-red-400"></p>
            </div>
          </div>
        </div>

        <!-- Blog content -->
        <div class="w-full h-full bg-zinc-800 flex flex-col gap-y-7 p-7 rounded-md">
          <h2 class="text-my-white text-2xl font-medium">Main Content</h2>
          <p class="text-gray-400">This is the body of the blog. The content will be displayed in markdown format. As a result, markdown syntax is usable.</p>
          <div class="flex flex-col gap-y-2">
            <div class="flex justify-between items-baseline">
              <div class="flex gap-x-2">
                <label for="post-content" class="font-semibold text-lg text-white">What is the content of the blog post? You can use Markdown.</label>
                <span class="font-bold text-xl text-neon-purple">*</span>
              </div>
            </div>
            <div class="bg-mono-neon-purple/30 p-5 rounded-md flex flex-col gap-y-5">
              <div class="w-full flex">
                  <button type="button" id="content-write-btn" onclick="blogContentSwitchView('write')" class="text-my-lime font-semibold px-5 pb-2 border-b-2 border-my-lime">Write</button>
                  <button type="button" id="content-preview-btn" onclick="blogContentSwitchView('preview')" class="text-gray-400 font-semibold px-5 pb-2 border-b-2 border-gray-500">Preview</button>
              </div>
              
              <div class="grid grid-cols-1 grid-rows-1 h-[30rem]">
                <textarea 
                  id="post-content"
                  name="content" 
                  class="placeholder-zinc-500 resize-none h-full p-3 col-start-1 col-end-1 row-start-1 row-end-1 w-full bg-zinc-900 text-white rounded-md border border-transparent focus:border-my-lime focus:outline-none"
                  placeholder="Write your full blog post here using Markdown..."
                  rows="20"
                  maxlength="{{ pageData.formData.post_content.maxLen }}"
                  required
                ></textarea>
                
                <!-- Markdown preview -->
                <div 
                  class="overflow-auto invisible rounded-md p-3 col-start-1 col-end-1 row-start-1 row-end-1 h-full w-full border border-gray-500"
                >
                  <div 
                    id="post-content-markdown-preview" 
                    class="max-w-none prose prose-invert text-white w-full h-full"
                  ></div>
                </div>
              </div>
            </div>
            <p id="post-content-error-text-tag" class="text-red-400"></p>
          </div>
        </div>

        <div class="grid grid-cols-2">
          <button 
            type="submit" 
            class="col-start-2 col-end-2 w-full bg-mono-neon-purple text-white font-bold text-lg p-3 rounded-md border-2 border-transparent focus:border-my-lime focus:outline-none hover:brightness-90"
          >Post</button>
        </div>
      </form>
    </div>
  </div>

  {{ pageData | json_script:"secret-note" }}
{% endblock %}